# Node.js
node_modules
npm-debug.log
npm-error.log
yarn-error.log
yarn-debug.log

# TypeScript
dist
*.tsbuildinfo

# Git
.git
.gitignore

# Editors
.vscode
*.swp
*.swo
*.sublime
*.idea
*.sln
*.suo
*.tmp
*.temp
*.tscache

# Operating System
.DS_Store
Thumbs.db

*.sqlite